.container {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 530px;
  border: solid 1px;
  background-color: #2FD69A;
  
}
.tout{

  overflow-y:scroll; 
  position:relative;
  
  }
container{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 3rem;
  margin-top: 200px;
}
button
{
  width: 13rem;
  height: 5rem;
  margin-bottom: 0rem;
}
.top-bun
{
  border: 5px solid #f6bd70;
  border-radius: 5rem 5rem 1rem 1rem;
  animation: bun-lettuce-coming 1.5s;
  background-color: #FBBD38;
}
.tomato
{
  width: 9rem;
  height: 1rem;
  border: 2px solid #ff79da;
  border-radius: 2rem;
  animation: content-coming 1.5s;

  background-color: #F9761B;
}
.lettuce
{
  width: 12rem;
  height: 0.8rem;
  border: 2px solid #b6f06a;
  border-radius: 2rem;
  animation: bun-lettuce-coming 1.5s;
  background-color: #97CE59;
}
.steak
{
  width: 13rem;
  height: 1.8rem;
  border: 2px solid #9356dc;
  border-radius: 3rem;
  animation: content-coming 1.5s;
  background-color: #FEEA85;
}
.bottom-bun
{
  height: 3rem;
  border: 5px solid #f6bd70;
  border-radius: 1rem 1rem 5rem 5rem;
  animation: bun-lettuce-coming 1.5s;
  background-color: #FBBD38;

}
@keyframes bun-lettuce-coming {
    0% {
        transform:translateX(-30rem);
        margin: 1rem;
    }
    70% {
        margin: 1rem;
    }
    100% {
        transform: translateX(0rem);
        margin: 0rem;
    }
}
@keyframes content-coming {
    from {
        transform:translateX(30rem);
    }
    to {
        transform:translateX(0rem);
    }
}
@keyframes loader {
    0% {
        visibility: visible;
        opacity: 1;
        z-index: 9999;
    }
    60% {
        opacity: 1;
    }
    100% {
        visibility: hidden;
        opacity: 0;
        z-index: -1;
    }
}


.banner{
  DISPLAY: flex;
  width: 1400px;
  justify-content: space-between;
  align-items: center;
  height: 650px;
  margin-right: 40px;
}
.image-home{
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
}
.para-home{
  font-size: 50px;
  font-weight: bold;
  font-family: cursive;
  text-align: center;
}


